<h1> <%= title %> </h1>

<h2 style="text-align: center; color:#ff8c00;">Hi, I am <strong>Eva Fan</strong></h2>
<h6 style="text-align: center;"><a href="./content/files/Eva.pdf">Here is my Resume Link</a></h6>
<img style="display: block; margin:0px auto;"src="./content/images/self.JPG" alt="me" width="350"height="400" >
<h4 style="text-align: center;">Enrolled in Software Engineering Technology Program in Centennial College!</h4>
<h4 style="text-align: center;">Learning is my motivation to be knowledgeable in the Tech field. </h4>