<h1> <%= title %> </h1>

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center;">Some of my projects</h3>
        <div class="post-wrapper">

            <div class="post">
                <img class="thumbnail" src="./content/images/app.jpg" alt="hello" >
                <div class="post-preview">
                    <h6 class="post-title">Software System Design</h6>
                    <p class="post-intro">Working on an App called "GoFit" as a group assignment  for Software Requirement Document</p>
                </div>
            </div>
<!----------------------------------------------------------------------------->
            <div class="post">
                <img class="thumbnail" src="./content/images/web.jpg" alt="hello" >
                <div class="post-preview">
                    <h6 class="post-title">Web Application Development</h6>
                    <p class="post-intro">Working on a portfolio website. Design a personal portfolio website using express, push to git, update pages. </p>
                </div>
            </div>
<!----------------------------------------------------------------------------->
            <div class="post">
                <img class="thumbnail" src="./content/images/java.jpg" alt="hello" >
                <div class="post-preview">
                    <h6 class="post-title">Java Programming</h6>
                    <p class="post-intro">Using Java, Create a Java application for Centennial Banking! Deposit, withdraw, authentication information, print account details </p>
                </div>
            </div>
        </div>
    </div>
</section>