<h1> <%= title %> </h1>
 
<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center;">Services Include:</h3>
        <div class="post-wrapper">

            <div class="post">
                <img class="thumbnail" src="./content/images/web2.jpg" alt="hello" >
                <div class="post-preview">
                    <h6 class="post-title">Web Development</h6>
                    <p class="post-intro">Customize Your Needs</p>
                </div>
            </div>
<!----------------------------------------------------------------------------->
            <div class="post">
                <img class="thumbnail" src="./content/images/web3.jpg" alt="hello" >
                <div class="post-preview">
                    <h6 class="post-title">General Programming</h6>
                    <p class="post-intro">Python, C#, HTML, CSS, Javascript,etc </p>
                </div>
            </div>
<!----------------------------------------------------------------------------->
            <div class="post">
                <img class="thumbnail" src="./content/images/web4.jpg" alt="hello" >
                <div class="post-preview">
                    <h6 class="post-title">Mobile Apps</h6>
                    <p class="post-intro">Design awesome mobile apps for you</p>
                </div>
            </div>
        </div>
    </div>
</section>